<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Nome do Amigo" required>
    </div>
    <div class="form-group">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome do Amigo">
    </div>
    <div class="form-group">
        <label for="data">Data de Aniversário</label>
        <input type="text" class="form-control" id="data" placeholder="Data do Aniversário" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>